<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd ">   
<html xmlns="http://www.w3.org/1999/xhtml ">  
<head>
<meta charset="UTF-8"></meta>
<title>简明打印版</title>
<style>
body { font-family: SimSun;}
</style>
</head>

<body>
<div class="jmd">
	<h1>报告预测今年中国GDP增速为7.49% 建议适度下调</h1>
	<p>施普林格出版社、厦门大学与经济参考报社11日在德国海德堡联合发布中国季度宏观经济模型(CQMM)2014年秋季预测报告。报告认为，2014年中国经济增长减速的态势还将继续，预计全年GDP增速为7.49%。课题组指出，现有的微刺激政策提高了经济增长率，但持续地应用微刺激政策可能得不偿失。报告建议在经济周期下行区间适当下调预期经济增长率，将2015、2016年的经济增长目标调整至7.2%左右。</p>
	<p>这份报告是课题组的第十七次预测成果。报告指出，由于城乡居民实际收入增长并没有明显改善，当前宏观调控虽然强调微刺激、定向宽松等措施，但本质上还是只能通过基础设施领域的投资扩张来稳定增长。然而，随着货币供应量水平的持续快速增长以及社会融资规模的不断扩大，不仅投资拉动的经济增长效应持续减弱，而且已积累了大量债务的地方政府也难以再启动大规模的投资项目。同时，尽管外部经济环境稳步趋好，但由于国内劳动工资水平的提高以及人民币仍将小幅升值，会在一定程度上抑制出口的增长。
	</p>
	<p>施普林格出版社、厦门大学与经济参考报社11日在德国海德堡联合发布中国季度宏观经济模型(CQMM)2014年秋季预测报告。报告认为，2014年中国经济增长减速的态势还将继续，预计全年GDP增速为7.49%。课题组指出，现有的微刺激政策提高了经济增长率，但持续地应用微刺激政策可能得不偿失。报告建议在经济周期下行区间适当下调预期经济增长率，将2015、2016年的经济增长目标调整至7.2%左右。</p>
	<p>这份报告是课题组的第十七次预测成果。报告指出，由于城乡居民实际收入增长并没有明显改善，当前宏观调控虽然强调微刺激、定向宽松等措施，但本质上还是只能通过基础设施领域的投资扩张来稳定增长。然而，随着货币供应量水平的持续快速增长以及社会融资规模的不断扩大，不仅投资拉动的经济增长效应持续减弱，而且已积累了大量债务的地方政府也难以再启动大规模的投资项目。同时，尽管外部经济环境稳步趋好，但由于国内劳动工资水平的提高以及人民币仍将小幅升值，会在一定程度上抑制出口的增长。
	</p>
</div>
</body>
</html>
